{{ define "main" }}
<header class="mt-O bg_dark">
	<div class="hero_large">
		<div class="container-fluid">
			<h2 class="text-center mx-auto">{{ .Params.title }}</h2>
		</div>
	</div> <!-- /container -->
</header>

<section id="about">
	<div class="container-fluid">
		<div class="row mb-4 mb-md-5">
			<div class="col-12 col-md-8 offset-md-2">
				<h2 class="mb-4">Hey there 👋</h2>
				<div class="row flex-column flex-sm-row no-gutters">
					<div class="col-12 col-xl-9 d-flex justify-content-center flex-column pl-xl-4">
						<p>
							<span class="highlight">I'm an illustrator based in Berlin, Germany.</span>
						</p>
						<p>
							I'm going to fill in this page. I swear.<br />
							In the meantime, here's some <a href="https://baconipsum.com/?paras=5&type=all-meat&start-with-lorem=1" target="_blank">bacon ipsum</a>:
						</p>
						<p>
							Bacon ipsum dolor amet cow short loin pork chop fatback prosciutto, ham flank. Pork chop ham hock corned beef landjaeger, chislic cupim venison andouille ham. Swine prosciutto sausage pork turkey ball tip tenderloin. Frankfurter t-bone sausage beef chislic jerky bacon jowl. Tenderloin alcatra chuck ground round prosciutto frankfurter burgdoggen short ribs sirloin ham landjaeger ham hock turducken cupim pork chop. Meatloaf pork belly frankfurter, tongue doner capicola turducken swine porchetta chicken shank meatball short loin cow sirloin. Kevin kielbasa tail andouille fatback pork loin pork flank meatball venison.
						</p>

						<p> 
							<span class="highlight">
								WAIT! I HAVE SOCIAL MEDIA LINKS:
							</span>
						</p>
						{{ partial "social-links.html" . }}
					</div> <!-- /col -->
				</div> <!-- /row -->
			</div> <!-- /col -->
		</div> <!-- /row -->
		
		{{- $image := resources.Get "img/happylemon.png" -}}
		{{- if $image -}}
		<div class="row">
			<div class="col-12 col-lg-7 mx-auto text-center">
				<figure class="mt-5 mb-0">
					<img src="{{ $image.Permalink }}" alt="{{ .Site.Title }}" width="300">
				</figure>
			</div> <!-- /col -->
		</div> <!-- /row -->
		{{- end -}}
	</div> <!-- /container -->
</section>

{{- partial "footer/footer.html" . -}}

{{ end }}