@use "bootstrap/scss/bootstrap" as bootstrap;
@use "../custom-variables" as *;
@use "../utilities";
@use "sass:map"
@use "sass:color"

@mixin nav-element
	// common to all nav elements
	@extend .fw_medium
	@extend .d-block
	@extend .py-3
	pointer-events: fill

@mixin full-screen
	// mobile nav
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	width: 100dvw
	height: 100dvh
	overflow: hidden
	display: flex
	align-items: stretch
	justify-content: center
	flex-direction: column

@mixin nav-button
	// mobile nav
	border: 0
	padding: 4px
	width: 2.2em
	height: 2.2em
	top: 0.6em
	right: 0.6em
	display: flex
	align-items: center
	justify-content: center

nav
	margin-bottom: -1px // chrome fix: lines between divs
	z-index: 999
	position: relative
	border-bottom: 1px solid map.get($colors, "grey-purplish")
	.nav
		&_menu
			display: flex
			align-items: center
			justify-content: space-between
			&_btn // mobile nav
				&_open
					@include nav-button
					position: fixed
				&_close
					@include nav-button
					position: absolute
			&_navbar
				&.isOpen // mobile nav
					@include bootstrap.media-breakpoint-down(md)
						@include full-screen
						display: flex
						background-color: map.get($colors, "grey-purplish")
				@include bootstrap.media-breakpoint-down(md) // hide mobile nav > md
					display: none
					flex-direction: row
				@include bootstrap.media-breakpoint-up(md)
					display: flex
					gap: 40px
			&_nav-element
				&_link
					@include nav-element
					@extend .text_primary
					font-size: 1.1rem
					@include bootstrap.media-breakpoint-up(md)
						color: map.get($colors, "dark")
					@include bootstrap.media-breakpoint-down(md)
						text-align: center
				&_logo
					a
						@include nav-element
						@extend .text_dark
