{{ with site.GetPage "home" }}
<header class="hero_medium d-flex">
	<div class="container-xxl row">
		<div class="col-12 col-md-6 d-flex justify-content-center align-items-center ps-0 py-1">
			<h2 class="mt-0 mb-3 animated-text letters scale">
				{{ .Site.Params.name }} {{ .Params.hero_section.heading.part_one }}
				<span class="animated-text_wrapper">
					<b class="text_secondary is-visible">fun & happy</b>
					<b class="text_primary">handmade</b>
					<b class="text_tertiary">off-beat</b>
				</span>
				{{ .Params.hero_section.heading.part_two }}
			</h2>
		</div>
	</div>
</header>

{{ end }}
