{{ with site.GetPage "home" }}
<header>
	<div class="row flex-column flex-sm-row">
		<div
			class="col-12 col-md-6 px-4 px-lg-5 d-flex flex-column justify-content-center"
		>
			<h2 class="mt-0 mb-3 cd-headline letters scale">
				{{ .Site.Title }} {{ .Params.hero_section.heading.part_one }}
				<span class="cd-words-wrapper">
					<b class="text-secondary is-visible">fun & happy</b>
					<b class="text-primary">handmade</b>
					<b class="text-tertiary">off-beat</b>
				</span>
				{{ .Params.hero_section.heading.part_two }}
			</h2>

			<a href="#work">
				<span class="text-white fw-medium" style="font-size: 1.2rem">
					{{ .Params.hero_section.cta }}
				</span>&nbsp;<img src="{{ "css/assets/icon_arrow-bottom.svg" | absURL }}"
				alt=">" width="12">
			</a>
		</div>

		<div id="grapes" class="col-12 col-md-6 col-lg-6 text-center">
			{{- $image := resources.Get "img/grapes.png" -}}
			<picture>
				<source srcset="{{ $image.Permalink | absURL }}" type="image/png" />
				<img
					src="{{ $image.Permalink | absURL }}"
					alt="{{ .Params.title }}"
					width="700"
				/>
			</picture>
		</div>
	</div>
</header>
<div class="bg_dark mask_bottom"></div>

{{ end }}
