{{- define "main" -}}

{{- $backgroundColor := .Params.project_content.backgroundColor | default "#fff" -}}
{{- $theme := print "theme-" (.Params.project_content.theme | default "light") }}
<div class="work_single">
	<header class="work_single_hero bg_dark text_white container-fluid">
		<div class="row">
			<div class="col-12 col-md-8 col-lg-6 ps-3 ps-lg-5 pb-5 mt-5 mb-4">
				<h2 class="mb-3">{{ .Params.title | safeHTML }}</h2>

				{{ with .Params.description }}
				<p class="mb-0 fw_book">
					{{ . | safeHTML }}
				</p>
				{{- end }}

				{{- if or (.Params.year) (.Params.tags) -}}
				<p class="mb-0 text_grey-medium">
					{{ with .Params.year }}
					{{ . | safeHTML }}
					{{- end }}

					{{ with .Params.tags -}}
					<span class="fw-lighter"> - {{ delimit . ", " }}</span>
					{{- end }}
				</p>
				{{- end -}}
			</div>
		</div>
	</header>

	{{ with .Params.project_content -}}
	<section class="work_single_showcase pt-3" style="background-color: {{ $backgroundColor }}">
		<div class="container-xxl">
			{{ range .work -}}
			<div class="row">
				{{ $layout := "col-12 col-md" }}
				{{- if .group }}
				{{- range .group -}}
					{{ if .layout }}{{ $layout = .layout }}{{ end }}
					{{- with .items }}
					{{ range . }}
						{{- partial "work/showcase/component" (merge . (dict "group" true "layout" $layout "theme" $theme)) -}}
					{{ end }} <!-- range .items -->
					{{ end }} <!-- with .items -->
				{{ end }} <!-- range .group -->

				{{- else -}} <!-- if/else .group -->

				{{ $layout := "col-12 mx-auto" }}
				{{ if .layout }}{{ $layout = .layout }}{{ end }}

				{{- partial "work/showcase/component" (merge . (dict "group" false "layout" $layout "theme" $theme)) -}}

				{{- end -}} <!-- if .group or .type -->
			</div>
			{{- end -}} <!-- range .work -->
		</div>  
	</section>
	{{- end }} <!-- with .Params.project_content  -->
</div>

<div class="container-lg my-5">
	{{- partial "playground/playground-banner" 
		(dict 
			"title" "Show me more!"
			"description" "Keep exploring the playground! <br /> More projects this way."
		) 
	-}}
</div>

<script>
	// making sure there's a bit of space after a group
	const allGroups = document.querySelectorAll(".is-group");
	if (allGroups) {
		allGroups.forEach((el) => el.parentElement.nextElementSibling.classList.add('mt-5'));
	};
</script>
{{- end -}}

{{- define "footer" -}}
{{- partial "footer/footer" (dict "isContactFormDisplayed" false "hasMask" false)}}
{{- end -}}