{{- $pagesInCurrentSection := .CurrentSection.Pages.ByWeight -}}
<section class="related">
	<div class="container-fluid">
		<div class="row mb-3 flex-column flex-md-row justify-content-center align-items-center">
			<div class="col order-1 order-md-1">
				<div class="d-flex align-items-center justify-content-center">
					{{ with $pagesInCurrentSection.Next . }}
					<div class="related_post-previous mb-2 mb-md-0">
						<a href="{{ .Permalink }}">
							Previous project
						</a>
						<a href="{{ .Permalink }}">
							«&nbsp;{{ .Title | truncate 50 "..." }}
						</a>
					</div>
					{{ end }}
				</div>
			</div>

			<div class="col order-3 order-md-2 text-center mt-4 mt-mb-0">
				<button id="toggle" class="fw_bold ps-3 mb-5">
					<span class="text_dark">All projects</span>
				</button>
			</div>

			<div class="col order-2 order-md-3 text-center text-md-right">
				<div class="d-flex align-items-center justify-content-center">
					{{ $isCurrentPageFlagged := false }}
					{{ range $i, $page := $pagesInCurrentSection }}
					{{ if $isCurrentPageFlagged }}
						{{ if $page.Params.isPublic }}
						<div class="related_post-previous">
							<a href="{{ $page.Permalink }}">
								Next project{{- partial "svg" (dict "name" "arrow-right" "size" "14" "class" "mb-1 ms-2") -}}
							</a>
							<a href="{{ $page.Permalink }}">
								{{ $page.Title | truncate 50 "..." }}
							</a>
						</div>
						{{ break }}
						{{ end }} <!-- if $page.Params.isPublic -->
					{{ else if eq $page.Permalink .Permalink }} <!-- checks if the current item in the loop is the same page as the one we're on -->
						{{ $isCurrentPageFlagged = true }}
					{{ end }} <!-- if $page.Params.isPublic -->
					{{ end }} <!-- range $pagesInCurrentSection-->
				</div>
			</div>
		</div>
	</div>

	<div class="related_all container-fluid">
		{{ with site.GetPage "work" }}
		<div class="d-flex justify-content-center mt-3 mt-md-0 mb-5">
			<ul>
				{{ range .Pages }}
				<button class="related_all_btn">{{ .Title }}</button>
				{{ end }}
			</ul>
		</div>
		{{ end }}

		{{ with site.GetPage "work" }}
		{{ range .Pages }}
		<div class="row related_all_section" id="related_all_section_{{ .Title | urlize }}">
			{{- range (.Pages.GroupByParam "isPublic") -}}
			{{- if eq .Key true -}} 
			{{- range .Pages.ByWeight -}}
			<div class="col-6 col-md-4 col-xl-2">
				<div class="card mb-4">
					<div class="card-body">
						<a href="{{.Permalink}}" class="stretched-link fw_bold">
							{{.Title | truncate 16 "…" }}
						</a>
					</div>

					<div class="card-img">
						{{ with .Resources.GetMatch "thumbnail_*" -}}
						<div class="card-img mb-3">
							<img src="{{.RelPermalink}}" alt="{{.Title}}">
						</div>
						{{- else -}}
						<div class="card-img mb-3">
							<img src='{{ "img/placeholder.jpg" | absURL }}' alt="{{.Title}}">
						</div>
						{{- end -}}
					</div>
				</div>
			</div>
			{{- end -}} <!-- range .Pages -->
			{{- end -}} <!-- if project isPublic -->
			{{- end -}} <!-- range section -->
		</div>
		{{ end }} <!-- range .Pages -->
		{{ end }} <!-- with work section -->
	</div>
</section>

<script type="text/javascript">
	// "All projects" section opens and closes on click
	const toggleButton = document.getElementById("toggle");
	toggleButton.addEventListener("click", () => {
		document.querySelector(".related_all").classList.toggle("isOpen");
		document.getElementById("toggle").classList.toggle("isArrowUp");
	});

	// Displaying different sections on click
	const sections = document.querySelectorAll(".related_all_section");
	const relatedButtons = document.querySelectorAll(".related_all_btn");

	relatedButtons[0].classList.add("isActive") // default state: first element is active
	sections[0].classList.add("isDisplayed") // default state: first element is active

	relatedButtons.forEach((button) => {
		button.addEventListener("click", () => {
			relatedButtons.forEach((button) => button.classList.remove("isActive"));
			button.classList.add("isActive");

			sections.forEach((section) => section.classList.remove("isDisplayed")); 
			const activeSection = document.getElementById(`related_all_section_${button.textContent.toLocaleLowerCase()}`)
			if (!activeSection) return;
			activeSection.classList.add("isDisplayed");
		})
	})
</script>
