<section class="related">
	<div class="container-fluid">
		<div class="row mb-3 flex-column flex-md-row justify-content-center align-items-center">
			<div class="col order-1 order-md-1">
				<div class="d-flex align-items-center justify-content-center">
					{{- if .NextInSection -}}
					<div class="related_post-previous">
						<a href="{{ .Next.Permalink }}">
							Previous project
						</a>
						<a href="{{ .Next.Permalink }}">
							«&nbsp;{{ .Next.Title | truncate 50 "..." }}
						</a>
					</div>
					{{- end -}}
				</div>
			</div>

			<div class="col order-3 order-md-2 text-center">
				<button id="toggle" class="fw-bold">
					<span style="color: #000">All projects</span>
				</button>
			</div>

			<div class="col order-2 order-md-3 text-center text-md-right">
				<div class="d-flex align-items-center justify-content-center">
					{{- if .PrevInSection -}}
					<div class="related_post-next">
						<a href="{{ .Prev.Permalink }}">
							Next project
						</a>
						<a href="{{ .Prev.Permalink }}">
							{{ .Prev.Title | truncate 50 "..." }}&nbsp;»
						</a>
					</div>
					{{- end -}}
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid" id="related_all">
		<div class="row my-5">
			{{- $relatedProjects := .Site.GetPage "section" "illustration" -}} 
			{{- range ($relatedProjects.Pages.GroupByParam "isPublic") -}} 
			{{- if eq .Key true -}} 
			{{- range .Pages -}}
			<div class="col-12 col-sm-6 col-md-4 col-xl-2">
				<div class="card mb-4">
					<div class="card-body">
						<a href="{{.Permalink}}" class="stretched-link"
							>{{.Title | truncate 16 "…" }}</a
						>
					</div>

					<div class="card-img">
						{{- $image := .Resources.GetMatch "thumbnail_*" -}} {{- with $image -}}
						<div
							class="card-img mb-3"
							style="background-image: url('{{ .Permalink | absURL }}');"
						>
							&nbsp;
						</div>
						{{- end -}}
					</div>
				</div>
			</div>
			{{- end -}} 
			{{- end -}} 
			{{- end -}}
		</div>
		 
	</div>
	 
</section>

<script type="text/javascript">
	let button = document.getElementById("toggle");
	button.addEventListener("click", () => {
		document.getElementById("related_all").classList.toggle("active");
		document.getElementById("toggle").classList.toggle("active");
	});
</script>
