{{- define "main" -}}
{{- with .Params.content -}}

{{ partial "layout/header" 
	(dict 
	"heading" "About" 
	"textAlign" "center"
	"size" "small"
)}}

<section id="about">
	<div class="container-xxl">
		<div class="row mb-4 mb-md-5">
			<div class="col-12 col-md-8 offset-md-2">
				{{ with .catchPhrase }}
				<h3 class="mb-4">{{ . }}</h3>
				{{ end -}}

				<div class="row flex-column flex-sm-row no-gutters">
					<div class="col-12 col-xl-9 d-flex justify-content-center flex-column pl-xl-4">
						{{ with .description}}
						{{ . | safeHTML }}
						{{ end }}

						{{ with .socialMedia}}
						<p class="mt-3 mt-lg-4">
							<span class="highlight">
								{{ . }}
							</span>
						</p>
						{{ end }}

						{{- partial "social-icons.html" -}}
					</div>
				</div>
			</div>
		</div>

		{{- $image := resources.Get "img/happylemon.png" -}}
		{{- with $image -}}
		<div class="row">
			<div class="col-12 col-lg-7 mx-auto text-center">
				<figure class="mt-5 mb-0">
					<img
						src="{{ .Permalink }}"
						alt="{{ site.Title }}"
						width="300"
					/>
				</figure>
			</div>
		</div>
		{{- end -}} <!-- with image -->
	</div>
</section>
{{- end -}} <!-- with .Params.content -->
{{- end -}}

{{- define "footer" -}}
{{- partial "footer/footer.html" -}}
{{- end -}}