<!DOCTYPE html>
<html lang="en">
	{{- partial "head.html" . -}}
	<body
		class="{{ .Section }}{{ with .Params.optional.extraCSS }} {{ . }}{{ end }}{{ with .Params.slug }} {{ . }}{{ end }}"
		data-offset="450">
		<div id="all">
			<div id="sidebar">{{ partial "layout/sidebar.html" . }}</div>
			<main id="main" class="d-flex flex-column flex-1">
				{{- partial "layout/nav.html" . -}}
				{{- block "main" . -}}{{- end -}}
			</main>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
		<script src='{{"js/main.js" | absURL }}'></script>
		<script src='{{"js/swaptext.js" | absURL }}'></script>

		{{ block "footer-scripts" . }}{{ end }}
	</body>
</html>
