<!DOCTYPE html>
<html lang="en">
	{{ partial "head.html" . }}

	{{- $bodyClasses := .Section }}
	{{- with .Params.optional.extraCSS }}
		{{ $bodyClasses = printf "%s %s" $bodyClasses . }}
	{{- end }}
	{{- with .Params.slug }}
		{{ $bodyClasses = printf "%s %s" $bodyClasses . }}
	{{- else }}
		{{ $bodyClasses = printf "%s %s" $bodyClasses .Slug }}
	{{- end }}
<body class="{{ $bodyClasses }}">
		<div id="all">
			<div id="sidebar">{{ partial "layout/sidebar.html" . }}</div>
			<main id="main" class="d-flex flex-column flex-1">
				{{- partial "layout/nav.html" . -}}
				{{- block "main" . -}}{{- end -}}
				{{- block "footer" . -}}{{- end }}
			</main>
		</div>

		<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="laurasinclair" data-description="Support me on Buy me a coffee!" data-message="" data-color="#ffc575" data-position="Right" data-x_margin="18" data-y_margin="18"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
		<script src='{{"js/main.js" | absURL }}'></script>
		<script src='{{"js/swaptext.js" | absURL }}'></script>

		{{ block "footer-scripts" . }}{{ end }}
	</body>
</html>
