{{ define "main" }}
<header class="bg_grey">
	<div class="container-xxl">
		<div class="row pb-4 pb-md-5 mt-5 mt-md-0">
			<div class="col-12 col-md-5 d-flex flex-column justify-content-center pb-4 pb-md-0 ps-md-4 ps-lg-5">
				<h2 class="h3 pb-2">{{.Params.content.heading}}</h2>
				<p class="lead">{{.Params.content.subheading}}</p>
			</div>

			<div id="totem" class="col-12 col-md-7 text-center py-3 py-md-5">
				{{- with resources.Get "img/happy-lemon_M.png" -}}
				<picture>
					<source srcset="{{ .Permalink }}" type="image/png" />
					<img
						src="{{ .Permalink }}"
						alt="{{ .Params.title }}"
						width="450"
					/>
				</picture>
				{{- end -}}
			</div>
		</div>
	</div>
</header>

<div class="py-5">
	<div class="container-xxl row py-5">
		<div class="col-12 col-lg-9 mx-auto">
			{{ partial "footer/contact-form.html" . }}
		</div>
	</div>
</div>
{{- end -}}

{{- define "footer" -}}
{{- partial "footer/footer" 
	(dict 
	"isCtaDisplayed" false 
	"isTitleDisplayed" false 
	"isWebsiteInfoDisplayed" false 
	"hasMask" false)
}}
{{- end -}}
