<footer>
	<div class="bg_secondary mask_top"></div>
	<div id="get-in-touch debug" class="bg_secondary">
		<div class="container">
			<div class="row mt-0 pt-3 pt-sm-5">
				<div class="col-12 col-lg-9 mx-auto">
					<div class="bd-left">
						<h2>{{ site.Data.footer.main.title }}</h2>

						<p>{{ site.Data.footer.main.subheading }}</p>
					</div>
				</div>
			</div>

			<div class="row mt-0 pt-3 pt-sm-5">
				<div class="col-12 col-lg-9 mx-auto">
					{{ partial "footer/contact-form.html" . }}
				</div>
			</div>
		</div>
	</div>
	<div class="p-4 bg_light w-100 footer-info">
		<div
			class="d-flex flex-column-reverse flex-md-row justify-content-between justify-around"
		>
			<div>
				{{ site.Data.footer.website_info.message }}

				<div class="collapsible-wrapper d-inline-block">
					<input id="collapsible" class="toggle" type="checkbox" />
					<label for="collapsible" class="toggle-label link">
						{{ site.Data.footer.website_info.link }}
					</label>
				</div>
			</div>
			<div class="mb-4 mb-md-0">{{ partial "social-links.html" . }}</div>
		</div>

		<div class="collapsible-wrapper">
			<div class="collapsible-content">
				<div class="pt-3 mb-4">
					{{ site.Data.footer.website_info.content | safeHTML }}
				</div>
			</div>
		</div>
	</div>
</footer>
