{{ $isContactFormDisplayed := .isContactFormDisplayed | default false }}
{{ $bgColor := .bgColor | default "white" }}
{{ $hasMask := .hasMask | default true }}
<footer>
	{{ with .isContactFormDisplayed }}
	{{ with $hasMask -}}
	<div class="bg_{{ $bgColor }} mask_top"></div>
	{{- end }} <!-- $hasMask -->
	<div id="get-in-touch" class="bg_{{ $bgColor }} py-5">
		<div class="container">
			<div class="row mt-0 pt-3 pt-sm-5">
				<div class="col-12 col-lg-9 mx-auto">
					<div class="bd-left">
						<h2>{{ site.Data.footer.main.title }}</h2>

						<p>{{ site.Data.footer.main.subheading }}</p>
					</div>
				</div>
			</div>

			<div class="row mt-0 pt-3 pt-sm-5">
				<div class="col-12 col-lg-9 mx-auto">
					{{ partial "footer/contact-form.html" . }}
				</div>
			</div>
		</div>
	</div>
	{{ end }} <!-- with .isContactFormDisplayed -->

	{{- partial "social-block.html" . }}
</footer>
