{{ $isContactFormDisplayed := .isContactFormDisplayed | default false }}
{{ $backgroundColor := .backgroundColor | default "bg_white" }}
{{ $hasMask := .hasMask | default true }}
<footer>
	{{ with .isContactFormDisplayed }}
	{{ with $hasMask -}}
	{{- partial "section-mask.html" (dict "placement" "top" "backgroundColor" $backgroundColor) -}}
	{{- end }} <!-- $hasMask -->
	<div id="get-in-touch" class="{{ $backgroundColor }} py-5">
		<div class="container">
			<div class="row mt-0 pt-3 pt-sm-5">
				<div class="col-12 col-lg-9 mx-auto">
					<div class="bd-left">
						<h2>{{ site.Data.footer.main.title }}</h2>

						<p>{{ site.Data.footer.main.subheading }}</p>
					</div>
				</div>
			</div>

			<div class="row mt-0 pt-3 pt-sm-5">
				<div class="col-12 col-lg-9 mx-auto">
					{{ partial "footer/contact-form.html" . }}
				</div>
			</div>
		</div>
	</div>
	{{ end }} <!-- with .isContactFormDisplayed -->

	{{- partial "social-block.html" . }}
</footer>
