@use "bootstrap/scss/bootstrap" as bootstrap
@use "custom-variables" as *;
@use "utilities" as *;
@use "sass:color"
@use "sass:map"

*
	box-sizing: border-box
	&:focus
		outline: 1px dotted map.get($colors, "dark")
		outline-offset: 2px

html
	scroll-behavior: smooth !important

:root
	font-family: $font-family
	font-synthesis: none
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-text-size-adjust: 100%

::-moz-selection,
::selection
	color: map.get($colors, "dark")
	background-color: map.get($colors, "secondary")

body
	@extend .bg_white_stardust
	@extend .fw_medium
	@extend .text_dark
	@extend .position-relative
	font-family: $font-family
	font-size: bootstrap.$font-size-base * 1.1
	@include bootstrap.media-breakpoint-up(lg)
		font-size: bootstrap.$font-size-base * 1.2

a,
a:hover,
a:focus,
a:active,
.link
	@extend .no-outline
	@extend .fw_black
	@extend .text_primary
	text-decoration: none
	span
		border-bottom: 1px solid
	svg
		@extend .transition-2s
	&:hover,
	&:active,
	&:focus
		@extend .text_primary
		@extend .transition-2s
		text-decoration: none
		span,
		&.link
			border-bottom: $border-width solid

img
	max-width: 100%
	max-height: 100%
	display: inline-block
	height: auto


ul, li
	margin: 0
	padding: 0
	list-style: none

.tag
	background-color: color.adjust(map.get($colors, "dark"), $lightness: 80%)
	padding: 1px 8px
	border-radius: 4px