html
	scroll-behavior: smooth !important

:root
	font-family: $font-family-sans-serif

	font-synthesis: none
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-text-size-adjust: 100%

::-moz-selection,
::selection
	color: $dark
	background: $secondary

$scale: 0.7
@include media-breakpoint-up(lg)
	$scale: 1

*
	&:focus
		outline: 1px dotted $dark
		outline-offset: 2px

a,
a:visited,
.link
	@extend .fw-black
	color: $primary
	text-decoration: none
	span
		border-bottom: 1px solid
	svg
		@extend .transition-2s
	&:hover,
	&:active,
	&:focus
		color: $primary
		text-decoration: none
		@extend .transition-2s
		span,
		&.link
			border-bottom: $border-width solid

img
	max-width: 100%
	max-height: 100%
	display: inline-block
	height: auto

.btn
	@extend .fw-black	
	border-radius: 4px
	padding: 13px 24px 14px
	display: inline-block
	margin-top: 10px
	margin-bottom: 10px
	text-align: center
	&-primary-dark
		@extend .btn
		@extend .text-white
		background-color: $primary
		svg, path
			fill: $white
		&:hover,
		&:active,
		&:focus
			@extend .no-outline
			color: $white !important
			background-color: $dark

#pagenotfound,
#thank-you
	header
		@extend .bg_dark
		@extend .text-white
		margin-bottom: -1px // chrome fix: lines between divs
		padding-top: 60px
		// @include media-breakpoint-up(lg)
		// 	min-height: 90vh
		h1
			@extend .mb-3
			@include media-breakpoint-up(lg)
				margin-top: 1.5em 
			@include media-breakpoint-up(xl)
				margin-top: 3em 
				margin-bottom: 3em
			&+a, 
			&+a:visited
				@extend .text-white
				@extend .mb-5
		#grapes
			overflow: hidden
			z-index: 9
			margin-bottom: -135px
			@include media-breakpoint-up(lg)
				margin-bottom: -95px
			img
				max-width: 120%
				transform: translateX(-10%)
				@include media-breakpoint-up(md)
					max-width: 100%
					transform: initial

.thank-you
	background-color: $secondary


// collapsible content in the footer
.collapsible
	&-wrapper
		.toggle // the actual checkbox
			display: none
			&-label
				cursor: pointer

	&-content
		max-height: 0px
		overflow: hidden
		transition: max-height .25s ease-in-out
		> div
			max-width: 920px
	&-open
		max-height: 100vh

.footer-info,
.footer-info p
	font-size: 1.1rem !important
	&:hover
		.icon_heart
			transform: scale(218%)
			path
				fill: $primary
	.icon_heart
		animation: heartbeat 2s infinite ease-in-out

@keyframes heartbeat
	0%
		transform: scale(100%)
	50%
		transform: scale(118%)
	100%
		transform: scale(100%)