@use "bootstrap/scss/bootstrap" as bootstrap;
@use "custom-variables" as *;
@use "utilities" as *;
@use "sass:map"
@use "sass:color"

	
a,
a:visited,
.link
	@include font-weight("black")
	color: map.get($colors, "primary")
	text-decoration: none
	span
		border-bottom: 1px solid
	svg
		@extend .transition-2s
	&:hover,
	&:active,
	&:focus
		color: map.get($colors, "primary")
		text-decoration: none
		@extend .transition-2s
		span,
		&.link
			border-bottom: $border-width solid

img
	max-width: 100%
	max-height: 100%
	display: inline-block
	height: auto

// .btn
// 	@extend .fw_black
// 	border-radius: 4px
// 	padding: 13px 24px 14px
// 	display: inline-block
// 	margin-top: 10px
// 	margin-bottom: 10px
// 	text-align: center
// 	&-primary-dark
// 		@extend .btn
// 		@extend .text_white
// 		font-size: inherit !important
// 		svg, path
// 			fill: map.get($colors, "white")
// 		&:hover,
// 		&:active,
// 		&:focus
// 			@extend .no-outline
// 			color: map.get($colors, "white") !important
// 			background-color: map.get($colors, "dark")

.mask
	@each $position in ("top", "bottom")
		&_#{$position}
			@include mask($position)

.container-fluid
	margin: 0 auto

.breadcrumbs
	ul
		display: flex
		align-items: center
		font-weight: 400
		li
			&:not(:last-of-type)
				&:after
					content: '>'
					margin: 0 8px
					color: color.adjust(map.get($colors, "white"), $alpha: -0.5)

	a
		padding: 8px 10px
		font-weight: 400
		color: color.adjust(map.get($colors, "white"), $alpha: -0.5)
		&.active
			color: color.adjust(map.get($colors, "white"), $alpha: -0.8)
		&:hover
			@extend .text_white
			path
				fill: map.get($colors, "white")
	svg
		margin-bottom: 2px
		path
			fill: color.adjust(map.get($colors, "white"), $alpha: -0.8)