html
	scroll-behavior: smooth !important

:root
	font-family: $font-family-sans-serif

	font-synthesis: none
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-text-size-adjust: 100%

::-moz-selection,
::selection
	color: $dark
	background: $secondary

$scale: 0.7
@include media-breakpoint-up(lg)
	$scale: 1

*
	&:focus
		outline: 1px dotted $dark
		outline-offset: 2px

a,
a:visited,
.link
	@extend .fw-black
	color: $primary
	text-decoration: none
	span
		border-bottom: 1px solid
	svg
		@extend .transition-2s
	&:hover,
	&:active,
	&:focus
		color: $primary
		text-decoration: none
		@extend .transition-2s
		span,
		&.link
			border-bottom: $border-width solid

img
	max-width: 100%
	max-height: 100%
	display: inline-block
	height: auto

.btn
	@extend .fw-black	
	border-radius: 4px
	padding: 13px 24px 14px
	display: inline-block
	margin-top: 10px
	margin-bottom: 10px
	text-align: center
	&-primary-dark
		@extend .btn
		@extend .text-white
		background-color: $primary
		svg, path
			fill: $white
		&:hover,
		&:active,
		&:focus
			@extend .no-outline
			color: $white !important
			background-color: $dark

@mixin mask($type)
	-webkit-mask-repeat: repeat-x
	-webkit-mask-size: cover
	height: 100px
	@if $type == 'top'
		-webkit-mask: url("/css/assets/bgtop.png")
		-webkit-mask-position: top center

	@if $type == 'bottom'
		-webkit-mask: url("/css/assets/bgbottom.png")
		-webkit-mask-position: bottom center

.mask
	&_top
		@include mask(top)
	&_bottom
		@include mask(bottom)