@use "bootstrap/scss/bootstrap" as bootstrap;
@use "custom-variables" as *;
@use "utilities";
@use "sass:map"

.related
	@include bootstrap.media-breakpoint-up(sm)
		white-space: nowrap
	#toggle
		@extend .no-outline
		background: none
		border: none
		span
			border-bottom: $border-width solid map.get($colors, "dark")
			display: inline-block
		&::after
			content: ""
			background-image: url(assets/icon_bracket-down.svg)
			background-size: cover
			width: 12px
			height: 12px
			display: inline-block
			margin-left: 10px
		&.active
			&::after
				transition: all .4s ease-in-out
				transform: rotate(180deg)
	&_all
		transition: all .2s ease-in-out
		position: relative
		overflow: hidden
		height: 0
		opacity: 0
		&.active
			transition: all .4s ease-in-out
			height: 100%
			opacity: 1
	.card
		position: relative
		overflow: hidden
		&:hover,
		&:focus,
		&:active
			cursor: pointer
			background-color: map.get($colors, "primary")
			a, a:visited
				color: map.get($colors, "white")
		&-img
			border-radius: 0
			width: 100%
			height: 120px
			background-size: cover
			background-position: center center
		a, a:visited
			border: none
			&:hover
				@extend .no-outline
				color: map.get($colors, "white")
		&-body
			padding: 0.6rem 0.9rem
	&_post
		a
			@include bootstrap.media-breakpoint-up(md)
				display: block
				width: 100%
			&:nth-of-type(1)
				@extend .no-outline 
				font-weight: 300
				color: map.get($colors, "dark") !important
		&-previous
			@extend .related_post
			text-align: right !important
			a:nth-of-type(1)
				margin-right: 12px
			@include bootstrap.media-breakpoint-up(md)
				margin-right: 0
		&-next
			@extend .related_post
			text-align: left !important
			a:nth-of-type(1)
				margin-right: 12px
			@include bootstrap.media-breakpoint-up(md)
				margin-right: 0

		
				