@use "bootstrap/scss/bootstrap" as bootstrap;
@use "custom-variables" as *;
@use "sass:map"
@use "sass:color"
@use "sass:list"

.text-center
	text-align: center

@each $name, $weight in $font-weights
	.fw_#{$name}
		font-weight: $weight

@each $name, $color in $colors
	.bg_#{$name}
		@include bg-color($name)
		&_stardust
			@extend .bg_white
			background-image: url(assets/bg_stardust.png)
	.text_#{$name}
		color: $color

.bd-left
	@extend .ps-4
	border-left: 5px solid map.get($colors, "dark")

@mixin debug($color)
	outline: 2px solid $color !important

$debug-colors: #f58589, #6478f6, #ffb152, #21e6bb, #f664f1
@for $i from 1 through list.length($debug-colors)
	.debug#{$i}
		@include debug(list.nth($debug-colors, $i))

.no-outline
	outline: none

.transition-2s
	transition: all 0.2s ease-in-out

.highlight
	@extend .bg_dark
	@extend .position-relative
	color: $light
	padding: 0 4px 1px
	border-radius: 2px

hr
	border-top: none
	border-bottom: 2px solid map.get($colors, "dark")
	@extend .mt-4
	@extend .mb-5

ul
	@extend .m-0
	@extend .p-0
	&.arrow
		li::before
				content: ""
				position: absolute
				left: 0
				top: 6px
				height: 5px
				width: 5px
				border: $border-width solid map.get($colors, "dark")
				border-width: 2px 2px 0 0
				transform: rotate(45deg)
	&.line
		li::before
				content: ""
				position: absolute
				left: 0
				top: 12px
				width: 8px
				display: block
				border-top: $border-width solid map.get($colors, "dark")

.reveal // used to hide the sidebar logo at first, shows it on scroll
	@extend .transition-2s
	opacity: 1 !important
	display: block !important

.hide // used to hide nav buttonw when we reach the footer
	@extend .transition-2s
	opacity: 0 !important
	display: none !important

@keyframes translate
	0%
		transform: translateX(-10px)
		opacity: 0
	100%
		transform: translateX(0)
		opacity: 1

@keyframes rotation
	from
		transform: rotate(0deg)
	to
		transform: rotate(359deg)

.hero
	&_medium
		padding: 5em 0 7em
	&_large
		padding: 6em 0 8em

.stretched-link::after
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 1
	content: ""
	background-color: transparent

.h-100
	height: 100%

@mixin icon
	&:hover,
	&:focus
		transition: all 0.2s ease-in-out
		outline: none
		svg path
			fill: map.get($colors, "primary")

@mixin mask($type)
	-webkit-mask-repeat: repeat-x
	-webkit-mask-size: cover
	height: 100px
	@if $type == 'top'
		-webkit-mask: url("/css/assets/bgtop.png")
		-webkit-mask-position: top center
		margin-bottom: -2px // chrome fix: lines between divs

	@if $type == 'bottom'
		-webkit-mask: url("/css/assets/bgbottom.png")
		-webkit-mask-position: bottom center
		margin-top: -2px // chrome fix: lines between divs

.bg-cover
	background-size: cover !important
	background-position: center center

@mixin form-inputs
	@extend .text_dark
	@extend .d-block
	@extend .mb-3
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	box-shadow: none
	width: 100%
	background: transparent
	border: $border-width solid map.get($colors, "dark")
	border-radius: 6px
	&:focus
		outline: none
		border-color: map.get($colors, "dark")
		background-color: color.adjust(map.get($colors, "primary"), $alpha: -0.8)
		&:placeholder
			color: map.get($colors, "dark")
	&::placeholder
		color: color.adjust(map.get($colors, "dark"), $alpha: -0.7) !important

@mixin label
	@extend .fw_bold
	@extend .mb-2
	@extend .d-block

@mixin input
	@include form-inputs
	padding: 0.74em 1em

@mixin textarea
	@include form-inputs
	min-height: 8rem
	resize: vertical
	padding: 1em

@mixin btn
	@extend .fw_black
	border-radius: 4px
	padding: 13px 24px 14px
	display: inline-block
	margin-top: 10px
	margin-bottom: 10px
	text-align: center
	border: none
	width: fit-content
	&:disabled
		background-color: color.adjust(map.get($colors, "dark"), $alpha: -0.8)
		color: color.adjust(map.get($colors, "dark"), $alpha: -0.8)
		svg path
			fill: color.adjust(map.get($colors, "dark"), $alpha: -0.8)
	
.btn_primary_dark
	@include btn
	@extend .bg_dark
	@extend .text_white
	font-weight: 600
	font-size: inherit !important
	svg
		@extend .transition-2s
		margin-left: 8px
		margin-bottom: 1px
		padding: 0
		path
			fill: map.get($colors, "white")
	&:hover,
	&:active,
	&:focus
		@extend .no-outline
		font-weight: 600
		color: map.get($colors, "white") !important
		background-color: map.get($colors, "primary")
		svg
			transform: translate(5px, 0)

.mask
	@each $position in ("top", "bottom")
		&_#{$position}
			@include mask($position)

.icon
	&-dark
		@include icon
		svg path
			fill: bootstrap.$gray-900
	&-light
		@include icon
		svg path
			fill: map.get($colors, "white")

@mixin list-base
	li
		@extend .mb-1 
		@extend .mb-md-2
		@extend .mb-lg-3

@mixin list-with-special-bullet
	li
		@extend .position-relative
		padding-left: 1.4em
		margin-left: 2px
		&:before
			content: ''
			@extend .position-absolute
			background-size: cover
			background-position: center center
			display: block
			left: 0

@mixin list-type($type)
	@include list-base
	@if $type == 'hyphen'
		@include list-with-special-bullet
		li
			&:before
				top: 14px
				width: 10px
				border-top: 2px solid map.get($colors, "dark")
	@else if $type == 'arrow'
		@include list-with-special-bullet
		li
			&:before
				background-image: url("assets/icon_arrow-right.svg")
				top: 10px
				width: 16px
				height: 11px

ul
	&.list
		&-simple
			@include list-type(none)
		&-hyphen
			@include list-type(hyphen)
		&-arrow
			@include list-type(arrow)

ul
	&.list
		&-simple
			@include list-type(none)
		&-hyphen
			@include list-type(hyphen)
		&-arrow
			@include list-type(arrow)

.whitespace-nowrap
	white-space: nowrap

.theme
	&-dark
		p, a, ul, li, h1, h2, h3, h4, h5, h6
			@extend .text_white
	&-light
		p, a, ul, li, h1, h2, h3, h4, h5, h6
			@extend .text_dark

.shadow
	&_3
		box-shadow: 0 20px 60px color.adjust(map.get($colors, "dark"), $alpha: -0.8)

.hover-shadow
	&:hover,
	&:focus,
	&:active
		@extend .transition-2s
		@extend .no-outline
		@extend .shadow_3

.mode_multiply
	mix-blend-mode: multiply