#work
	.work-gallery
		&_project
			@extend .mb-3
			@extend .mb-md-5
			overflow: hidden
			position: relative
			border-radius: 4px
			img.featured
				width: 100%
				background-color: #151515 // a bit arbitrary, it's the "all the lives we ever lived" background
				@include media-breakpoint-up(md)
					aspect-ratio: 2.2/1
					object-fit: cover
			&:hover,
			&:focus,
			&:active
				@extend .transition-2s
				@extend .no-outline
				box-shadow: 0 20px 60px transparentize($dark, 0.8)
				> div
					@extend .transition-2s
					opacity: 1
			&_title
				background-color: $dark
				color: $white
				transition: transform 1000ms cubic-bezier(.32,0,.07,1)
				opacity: 0
				position: absolute
				left: 24px
				bottom: 10px
				padding: 4px 22px
				@include media-breakpoint-up(md)
					left: 34px
					bottom: 25px
					padding: 8px 16px
					font-size: $font-size-base * 1.1
				a
					@extend .fw-bold
					color: $white

	br
		margin-bottom: 1em

	hr
		margin-top: 50px
		margin-bottom: 100px
		@include media-breakpoint-up(md)
			margin-top: 100px
			margin-bottom: 150px
		@include media-breakpoint-up(lg)
			margin-top: 200px
			margin-bottom: 250px

.work
	&_single
		&_text
			a
				@extend .fw-bold
				line-height: 1.20
				span
					border-bottom: $border-width solid lighten(#18181b, 40%)
		&_link
			@extend .p-4
			@extend .p-md-5
			@extend .transition-2s
			display: inline-block
			border-radius: 4px
			text-align: center
			background-color: #878db02e
			a
				border-bottom: $border-width solid !important
			&.theme-dark
				background-color: #5657b857
				color: $white