@use "bootstrap/scss/bootstrap" as bootstrap;
@use "custom-variables" as *;
@use "utilities";
@use "sass:map"
@use "sass:color"

.work
	&_gallery
		&_project
			@extend .mb-3
			@extend .mb-md-5
			overflow: hidden
			position: relative
			border-radius: 4px
			img.featured
				width: 100%
				background-color: #151515 // a bit arbitrary, it's the "all the lives we ever lived" background
				@include bootstrap.media-breakpoint-up(md)
					aspect-ratio: 2.2/1
					object-fit: cover
			&:hover,
			&:focus,
			&:active
				@extend .transition-2s
				@extend .no-outline
				box-shadow: 0 20px 60px color.adjust(map.get($colors, "dark"), $alpha: -0.8)
				> div
					@extend .transition-2s
					opacity: 1
			&_title
				@extend .bg_dark
				@extend .text_white
				transition: transform 1000ms cubic-bezier(.32,0,.07,1)
				opacity: 0
				position: absolute
				left: 10px
				bottom: 10px
				padding: 6px 14px
				display: block
				border: 1px solid color.adjust(map.get($colors, "white"), $alpha: -0.8)
				@include bootstrap.media-breakpoint-up(md)
					left: 34px
					bottom: 25px
					padding: 8px 16px
					font-size: bootstrap.$font-size-base * 1.2
				a
					@extend .fw_bold
					color: map.get($colors, "white")
	&_single
		&_hero
			padding-top: 40px
		&_showcase
			@extend .pt-3
			img
				border-radius: 4px
		&_text
			a
				@extend .fw_bold
				line-height: 1.20
		&_link
			border-radius: 4px
			background-color: #878db02e
			a
				font-size: 1.2em
				border-bottom: $border-width solid !important
			&.theme-dark
				p, a
					@extend .text_white
				background-color: #5657b857
			