@use "bootstrap/scss/bootstrap" as bootstrap;
@use "custom-variables" as *;
@use "utilities";
@use "sass:map"
@use "sass:color"

.work
	&_gallery
		position: relative
		@include bootstrap.media-breakpoint-up(md)
			display: grid
			grid-template-columns: [work_gallery_nav] 16% [work_gallery_projects] auto
		@include bootstrap.media-breakpoint-up(md)
			grid-template-columns: [work_gallery_nav] 12% [work_gallery_projects] auto
		&_section
			margin-bottom: 10rem
			&:last-of-type
				@extend .mb-0
		&_nav
			@include bootstrap.media-breakpoint-down(md)
				background-color: map.get($colors, "white")
				z-index: 888
				top: 0
			ul
				position: sticky
				top: 10px
				left: 0
			&_link
				@extend .fw_book
				color: color.adjust(map.get($colors, "dark"), $lightness: 60%)
				&:hover,
				&:active,
				&:focus
					@extend .fw_book
					color: color.adjust(map.get($colors, "dark"), $lightness: 20%) !important
				&.active
					@extend .fw_black
					@extend .text_dark
					&:hover
						@extend .active
		&_project
			img.featured
				width: 100%
				background-color: #151515 // a bit arbitrary, it's the "all the lives we ever lived" background
				@include bootstrap.media-breakpoint-up(md)
					aspect-ratio: 2.2/1
					object-fit: cover
			&:hover,
			&:focus,
			&:active
				@extend .transition-2s
				@extend .no-outline
				@extend .shadow_3
				> div
					@extend .transition-2s
					opacity: 1
			&_title
				transition: transform 1000ms cubic-bezier(.32,0,.07,1)
				opacity: 0
				left: 10px
				bottom: 10px
				padding: 6px 14px
				border: 1px solid color.adjust(map.get($colors, "white"), $alpha: -0.8)
				@include bootstrap.media-breakpoint-up(md)
					// left: 34px
					// bottom: 25px
					padding: 8px 16px
					font-size: bootstrap.$font-size-base * 1.2
				&:hover,
				&:focus,
				&:active
					a
						@extend .fw_bold
						@extend .text_white
	&_single
		&_hero
			padding-top: 40px
		&_showcase
			@extend .pt-3
			img
				border-radius: 4px
			&_iframe
				max-width: 100%
				padding: 0
				margin: 0 auto
				iframe
					max-width: 800px
					width: 100%
		&_text
			a
				@extend .fw_bold
				line-height: 1.20
		&_link
			border-radius: 4px
			background-color: #878db02e
			a
				font-size: 1.2em
				border-bottom: $border-width solid !important
			&.theme-dark
				p, a
					@extend .text_white
				background-color: #5657b857
		