{{-  define "main" -}}
<header class="mt-O bg_dark text-white">
	<div class="container">
		<div class="hero_large">
			{{- $image := .Resources.GetMatch "project-title_*" -}}
			{{- with $image -}}
			<div class="row">
				<div class="col-12 col-sm-8 col-md-6 col-lg-5 mx-auto text-center">
					<img src="{{ .Permalink | absURL }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $.Params.Title }}">
				</div>
			</div>
			{{- else -}}
			<h2 class="text-center mx-auto">{{ (replace .Params.title "\n" "<br />") | safeHTML }}</h2>
			{{- end -}}
		</div>
	</div>  
</header>

{{- if isset .Params "project_content" -}}
{{- $backgroundColor := .Params.project_content.bgColor | default "#f1f1f7" -}}
{{- $theme := .Params.project_content.theme }}
<section 
	id="work"
	{{- if eq $theme "dark" -}}
	class="theme-dark"
	{{- end -}}
	{{- with $backgroundColor -}}
	style="background-color: {{ . }}"
	{{- end -}}
>
	<div class="container-fluid">
		{{ if isset .Params.project_content "description" -}}
		<div class="row">
			<div class="col-12 col-md-8 col-lg-6 mx-auto mb-5">
				<p class='description text-center relative {{if eq $theme "dark"}}text-white{{end}}'>
					{{ (replace .Params.project_content.description "\n" "<br>") | safeHTML }}
				</p>
			</div>
		</div>
		{{- end -}}

		<div>
			{{ range .Params.project_content.work -}}
			<div class="row">
				{{- if .group -}}
				{{- range .group -}}
				<div class="col-12 col-md mt-4 mb-5">					
					{{ if eq .type "image" }}
						{{ partial "work/image.html" . -}}
					{{- else if eq .type "text" }}
						{{ partial "work/text.html" (merge . (dict "theme" $theme)) }}
					{{- else if eq .type "list" }}
						{{ partial "work/list.html" (merge . (dict "theme" $theme)) }}
					{{- else if eq .type "link" }}
						{{ partial "work/link.html" (merge . (dict "theme" $theme)) }}
					{{- end }} <!-- checking exact file type -->
				</div>
				{{- end -}} <!-- range .group -->
				{{- else if .type -}}
				{{- if .sectionTitle -}}
				{{ partial "work/section-title.html" (merge . (dict "theme" $theme))}}
				{{- end -}}
				{{ if eq .type "image" }}
				<div class="col-12 mt-4 mb-5 mx-auto d-flex justify-content-center {{with .class}}{{.}}{{end}}">
					{{ partial "work/image.html" . }}
				</div>
				{{- else if eq .type "text" }}
					{{ partial "work/text.html" (merge . (dict "theme" $theme)) }}
				{{- else if eq .type "list" }}
					{{ partial "work/list.html" (merge . (dict "theme" $theme)) }}
				{{- else if eq .type "link" }}
					{{ partial "work/link.html" (merge . (dict "theme" $theme)) }}
				{{- end -}} <!-- checking exact file type -->
				{{- end -}} <!-- if .group or .type -->
			</div>
			{{- end -}} <!-- range .Params.project_content.work -->
		</div>
	</div>  
</section>
<div 
	class="bg_dark mask_bottom"
	{{ with $backgroundColor}}
	style="background-color: {{ . }}"
	{{ end }}>
</div>

{{- end -}}

{{- partial "work/related.html" . -}}

<div class="bg_grey d-flex justify-content-center px-4 pt-4 pb-lg-4" style="padding-bottom: 4.4rem">
	{{ partial "social-links.html"}}
</div>

{{- end -}}