{{-  define "main" -}}

{{- if isset .Params "project_content" -}}
{{- $backgroundColor := .Params.project_content.bgColor | default "#f1f1f7" -}}
{{- $theme := .Params.project_content.theme }}
{{- $description := .Params.project_content.description -}}

<div class='work_single theme-{{- if eq $theme "dark" -}}dark{{- else -}}light{{- end -}}'>
	<header class="work_single_hero bg_dark text_white container-fluid">
		<div class="row">
			{{- $image := .Resources.GetMatch "project-title_*" -}}
			{{- with $image -}}
			<div class="col-12 col-md-6 mx-auto text-center pb-5">
				<img src="{{ .Permalink | absURL }}" width="560" alt="{{ $.Params.Title }}" class="mb-3" />
				{{ with $description -}}
				<p class="mb-0 fw_book">
					{{ . | safeHTML }}
				</p>
				{{- end -}}
			</div>
			{{- else -}}
			<div class="col-12 col-md-8 col-lg-6 ps-3 ps-lg-5 pb-5 my-4">
				<h2 class="mb-3">{{ (replace .Params.title "\n" "<br />") | safeHTML }}</h2>
				{{ with $description -}}
				<p class="mb-0 fw_book">
					{{ . | safeHTML }}
				</p>
				{{- end -}}
			</div>
			{{- end -}} <!-- if/else there's a title image in the folder -->
		</div>
	</header>

	<section
		class="work_single_showcase"
		{{- with $backgroundColor -}}
		style="background-color: {{ . }}"
		{{- end -}}
	>
		<div class="container-fluid ">
			{{ range .Params.project_content.work -}}
			<div class="row">
				{{- if .group -}}
				{{- range .group -}}
				<div class="col-12 col-md mt-4 mb-5">					
					{{ if eq .type "image" }}
						{{ partial "work/image.html" . -}}
					{{- else if eq .type "text" }}
						{{ partial "work/text.html" (merge . (dict "theme" $theme)) }}
					{{- else if eq .type "list" }}
						{{ partial "work/list.html" (merge . (dict "theme" $theme)) }}
					{{- else if eq .type "link" }}
						{{ partial "work/link.html" (merge . (dict "theme" $theme)) }}
					{{- else if eq .type "iframe" }}
						{{ partial "work/iframe.html" (merge . (dict "theme" $theme)) }}
					{{- end }} <!-- checking exact file type -->
				</div>
				{{- end -}} <!-- range .group -->
				{{- else if .type -}}
				{{- if .sectionTitle -}}
				{{ partial "work/section-title.html" (merge . (dict "theme" $theme))}}
				{{- end -}}
				{{ if eq .type "image" }}
				<div class="col-12 mt-4 mb-5 mx-auto d-flex justify-content-center {{with .class}}{{.}}{{end}}">
					{{ partial "work/image.html" . }}
				</div>
				{{- else if eq .type "text" }}
					{{ partial "work/text.html" (merge . (dict "theme" $theme)) }}
				{{- else if eq .type "list" }}
					{{ partial "work/list.html" (merge . (dict "theme" $theme)) }}
				{{- else if eq .type "link" }}
					{{ partial "work/link.html" (merge . (dict "theme" $theme)) }}
				{{- else if eq .type "iframe" }}
					{{ partial "work/iframe.html" (merge . (dict "theme" $theme)) }}
				{{- end -}} <!-- checking exact file type -->
				{{- end -}} <!-- if/else .group or .type -->
			</div>
			{{- end -}} <!-- range .Params.project_content.work -->
		</div>  
	</section>
	<div 
		class="bg_dark mask_bottom"
		{{ with $backgroundColor}}
		style="background-color: {{ . }}"
		{{ end }}>
	</div>

	{{- end -}}

	{{- partial "work/related.html" . -}}

	<div class="bg_grey d-flex justify-content-center px-4 pt-4 pb-lg-4" style="padding-bottom: 4.4rem">
		{{ partial "social-links.html"}}
	</div>
</div>
{{- end -}}
