{{- define "main" -}}

{{- if isset .Params "project_content" -}}
{{- $backgroundColor := .Params.project_content.bgColor | default "#f1f1f7" -}}
{{- $theme := .Params.project_content.theme | default "light" }}
{{- $description := .Params.project_content.description -}}
<div class='work_single theme-{{$theme}}'>
	<header class="work_single_hero bg_dark text_white container-fluid">
		<div class="row">
			{{ $image := .Resources.GetMatch "project-title_*" -}}
			{{- with $image -}}
			<div class="col-12 col-md-6 mx-auto text-center pb-5">
				<img src="{{ .Permalink | absURL }}" width="560" alt="{{ $.Params.Title }}" class="mb-3" />
				{{ with $description }}
				<p class="mb-0 fw_book">
					{{ . | safeHTML }}
				</p>
				{{- end }}
			</div>
			{{- else -}}
			<div class="col-12 col-md-8 col-lg-6 ps-3 ps-lg-5 pb-5 my-4">
				<h2 class="mb-3">{{ (replace .Params.title "\n" "<br />") | safeHTML }}</h2>
				{{ with $description }}
				<p class="mb-0 fw_book">
					{{ . | safeHTML }}
				</p>
				{{- end }}
			</div>
			{{- end -}} <!-- if/else there's a title image in the folder -->
		</div>
	</header>

	<section class="work_single_showcase"
		{{- with $backgroundColor -}}
		style="background-color: {{ . }}"
		{{- end -}}
	>
		<div class="container-fluid">
			{{- range .Params.project_content.work }}
			<div class="row">
				{{- if .group }}
				{{- range .group }}
				<div class="col-12 col-md mt-4 mb-5">
                    {{- partial "work/showcase/component.html" (merge . (dict "layout" "group" "theme" $theme)) }}
                </div>
				{{- end -}} <!-- range .group -->

				{{- else if .type -}}

				{{- if .sectionTitle -}}
				{{- partial "work/showcase/section-title.html" (merge . (dict "theme" $theme)) -}}
				{{- end -}} <!-- if .sectionTitle -->

				{{- partial "work/showcase/component.html" (merge . (dict "layout" "col-12" "theme" $theme)) -}}
				
				{{- end -}} <!-- if/else .group or .type -->
			</div>
			{{- end -}} <!-- range .Params.project_content.work -->
		</div>  
	</section>
	<div 
		class="bg_dark mask_bottom"
		{{- with $backgroundColor -}}
		style="background-color: {{ . }}"
		{{- end }}>
	</div>

	{{- partial "work/related.html" . -}}
</div>
{{- end -}} <!-- if .Params "project_content" -->
{{- end -}}

{{- define "footer" -}}
{{- partial "footer/footer.html" (dict "isContactFormDisplayed" false "hasMask" false)}}
{{- end -}}