{{$content := .content | default "Come have a look!"}}
{{$class := .class | default ""}}
{{$label := .label | default .src}}
<div class='col-12 col-sm-6 col-lg-4 mx-auto d-flex align-items-center justify-content-center flex-column work_single_link p-5 d-inline-block transition-2s {{if eq .theme "dark"}}theme-dark{{end}} {{$class}} position-relative'>
	<p class="mb-1">{{$content}}</p>
	<a href="{{.src}}" target="_blank" class="link_new-window stretched-link link_primary link_underline link_bold text-center">{{ $label }}</a>
</div>