{{ $layout := .layout }}
{{ if eq .group false }}
{{ $layout = "col-12 col-md-8 col-lg-6 mt-0" }}
{{ end }}
<div class="{{ $layout }} mb-3 mx-auto {{ .theme }} {{with .class}}{{.}}{{end}}"
{{- with .id -}}id="{{.}}"{{- end -}}>
    {{- with .sectionTitle -}}
    {{- partial "work/showcase/section-title" . -}}
    {{- end -}}

    {{ if reflect.IsSlice .content }}
        {{ range .content }}
        <p class='fw_book w-100 mb-2'>{{ . | safeHTML }}</p>
        {{ end }}
    {{ else }}
        <p class='fw_book w-100'>{{ .content | safeHTML }}</p>
    {{ end }}
</div>