<div class="col-12 {{ with .class }}{{ . }}{{ end }} mx-auto mt-4"
{{- with .id -}}id="{{.}}"{{- end -}}>
    <video
        style="width: 100%;"
        class="rounded"
        {{ with .attributes -}}
            {{ if in . "autoplay" }} autoplay {{ end }}
            {{ if in . "loop" }} loop {{ end }}
            {{ if in . "muted" }} muted {{ end }}
            {{ if in . "controls" }} controls {{ end }}
        {{- end -}}
    >
        {{ with .url.mp4 }}
        <source src="{{ . }}" type="video/mp4">
        {{ end }}
        {{ with .backupImg }}
        <img src="{{ . }}" alt="">
        {{ end }}
    </video>
    {{- with .caption -}}
    <div class="caption mt-3">{{ . | safeHTML}}</div>
    {{- end }}
</div>